/* ==========================================
   TEG APP - SIMPLE NAVIGATION STYLES
   ========================================== */

/* Basic navigation link styles */
a.custom-nav-link {
    /* font-family: inherit; */
    font-family: monospace, 'open sans';
    font-size: 14px;
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: inline-block;
}

a.custom-nav-link:hover {
    color: forestgreen;
    font-weight: bold;
    text-decoration: none !important;
}